<div class="container-fluid filter mb-2 pt-2 pb-3" role="region">

    <form class="row gy-2 gx-3 align-items-center">
        <div class="col-auto">
            <label for="sort" class="form-label">Sort By</label>
            <select id="sort" class="form-select" aria-label="Default select example">
                <option selected value="">Default</option>
                <option value="title">Title</option>
                <option value="stars">Stars</option>
                <option value="last-update">Last Update</option>
                <option value="releases">Releases</option>
            </select>
        </div>
        <div class="col-auto" role="search">
            <label for="search" class="form-label">Search</label>
            <input id="search" class="form-control" type="search">
        </div>
        <div class="col-auto col-formats">
            <label class="form-label">Formats</label>
            <div class="d-block">
                <div class="btn-group formats" role="group">
                    {% for format in formats %}
                        <input type="checkbox" class="btn-check format-checkbox" id="{{ format.id }}">
                        <label class="btn btn-outline-primary" {% if format.full_name %}title="{{ format.full_name }}" {% endif %}for="{{ format.id }}">{{ format.name }}</label>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-auto col-document-types">
            <label class="form-label">Document Types</label>
            <div class="d-flex flex-wrap" style="gap: 0.25rem;">
                {% for type in document_types %}
                    <input type="checkbox" class="btn-check document-type-checkbox" id="{{ type.id }}">
                    <label class="btn btn-outline-primary" for="{{ type.id }}">{{ type.name }}</label>
                {% endfor %}
            </div>
        </div>
        <p class="text-body-secondary mb-0"><span id="filtered-items"></span> Results</p>
    </form>

</div>
